.jumbotron {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #856c8b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px black, 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.text-narc-pale {
    color: #d9cbcb;
}

.text-narc-light {
    color: #faf2f2;
}

h1 {
    font-size: 5.9vw !important;
    font-family: 'Love Ya Like A Sister', cursive;
}

.card-body {
    position: relative;
    background-color: #faf2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px black, 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.card-question {
    position: absolute;
    top: -30px;
    left: -15px; 
    padding: 5px;
    background-color: #856c8b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px black, 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.card-question > h2, .card-question > h3, .card-question > h4, .card-question > h5, .card-question > h6 {
    font-weight: bold;
}

.card-options {
    position: absolute;
    bottom: -35px;
    right: -15px; 
    padding: 10px;
    background-color: #d9cbcb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px black, 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}